@page
@model LogisticOrderTracker.Pages.Logistics.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create Order</h2>
<hr />

<div class="row">
  <div id="app">
    <address-comp address-title="Sender"></address-comp>
    <address-comp address-title="Receiver"></address-comp>
    <order-comp></order-comp>
    <forwarder-comp></forwarder-comp>
    <shipment-comp></shipment-comp>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <input type="submit" id="submit-order" value="Create" class="btn btn-default" />
    </div>
  </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="module">
        $(document).ready( function () {
        });
    </script>
}