@page
@model LogisticOrderTracker.Pages.Logistics.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create Order</h2>
<hr />

<div class="row">
  <div id="app">
    <div class="row">
      <address-comp address-title="Sender" class="col-md-6"></address-comp>
      <address-comp address-title="Receiver" class="col-md-6"></address-comp>
    </div>
    <div class="row">
      <order-comp class="col-md-4"></order-comp>
      <forwarder-comp class="col-md-4"></forwarder-comp>
      <shipment-comp class="col-md-4"></shipment-comp>
    </div>
      <div class="row">
        <packages-com class="col-md-12">
        </packages-com>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <input type="submit" id="submit-order" value="Create" class="btn btn-default" />
    </div>
  </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="module">
        $(document).ready( function () {
        });
    </script>
}